<html>
   <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <style>
    body {
        text-align: center;
    }
    div {
        text-align: center;
    }
    textarea {
      resize: vertical;
    }

   </style>


   </head>
   <body>
     {% extends "base.html" %}

     {% block app_content %}

     <div class="jumbotron">
       <h1>More than just summary!</h1>
       <p class="lead"> Most approaches you find today on the internet offer you a summary that is created from the most valued sentences on a given text.
Our approach, however, is implementing <b>state of the art</b> Deep Neural Network algorithms that create new sentences. Those sentences make sense and are as if a human wrote them.</p>
       <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
     </div>
     <div class="row">
        <div class="col-lg-4">
          <h2>We offer!</h2>
          <p class="text-danger"> </p>
          <p>Unlimited input text</p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
          <h2>We use</h2>
          <p>- State of the art BART algorithm - Latest CNN algorithm for English language </p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-lg-4">
          <h2>A comparisson with 3 other technologies</h2>
          <p> - OTS - PyTeaser - summarize.py</p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
      </div>

     {% endblock %}


  </body>
</html>
