<html>
   <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
     {% extends "base.html" %}

     {% block app_content %}

     <div class="jumbotron">
       <h1>More than just summary!</h1>
       <p class="lead"> Most approaches you find today on the internet offer you a summary that is created from the most valued sentences on a given text.
Our approach, however, is implementing <b>state of the art</b> Deep Neural Network algorithms that create new sentences.
Those sentences make sense and are as if a human wrote them.</p>
       <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
     </div>
     <div class="row">
        <div class="col-lg-4">
          <h2>Why summarize</h2>
          <p>
              Save time reading the whole thing<br>
              Avoid trash articles and clickbait<br>
              There are a lot of little details that distract from the main point<br>
              To extract the main idea<br>
              It does not give you the key points or the most valuable sentences<br>
              It summarises the content of texts like a human would do<br>
              It can be used a tool of recreation of sentences since it avoids plagiarism and repetition of sentences used in the given text<br>
              Provide functionality for people with disabilities. e.g. some person is unable to read the whole text, however, he can listen to the synopsis<br>
              Academic tool - Summarising is an important skill in academic writing.<br>
              Educational tool - Useful for teachers and students<br>
          </p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Do's & Don'ts</h2>
          <p>
            What it does<br>
              The original text can be from 50 words up to 524288 characters.<br>
              Objectivity is maintained<br>
              Redundancy is eliminated<br>
              Summaries can range in length from two sentences to several pages. Our system produces 3 to 5 sentences on any passage. <br>
               [That is 1 paragraph consisting of around 50 to 80 words.]
          </p>
          <p class="text-danger">
            What it doesn’t<br>
              Include the title and identify the author in your first sentence.<br>
              Produces opinions or personal responses<br>
              It does not avoid plagiarism, since some times it reproduces some original sentences<br>
              It supports only English<br>
          </p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-lg-4">
          <h2>What we offer</h2>
          <p> You can use our service demo or decide for a paid plan here. Our benefits include: </p>
              1000 Summarize it API calls/month<br>
              Image to to text conversion with latest OCR algorithms<br>
              Algorithm that runs on dedicated servers with high response<br>
              On demand summaries from a large selection of generated summaries for websites such as medium, New York Times etc.
              24/7 support via email<br>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
      </div>

     {% endblock %}


  </body>
</html>
