<html>
   <head>
   <style>
    body {
        text-align: center;
    }
    div {
        text-align: center;
    }
    textarea {
      resize: vertical;
    }
   </style>

   <script>
    function validateForm() {
      var x = document.forms["text_to_sum"]["txt"].value;
      if (x.split(" ").length < 50) {
        alert("Text too small to summarize");
        return false;
      }
    }
   </script>
   </head>
   <body>
     {% extends "base.html" %}

     {% block app_content %}
       <h1> TLDR; Service</h1>
       <p> Insert a text bellow or upload an image with the text you want to summarize. </p>
      <div>
        <form name = "text_to_sum" action = "http://83.212.102.161:5000/tldr/" onsubmit = "return validateForm()" method = "POST">
          <div class="form-group">
           <textarea class="form-control" id="txt" name="txt" placeholder="Paste your text here.." rows="12">{{ txt1 }}</textarea>
         </div>
           <!--p>Sentences: <input type="range" id="sent_no" name="sent_no" min="2" max="10" value="3" step="1"> <span id="s1"></span> </p>
           <p>Max Words: <input type="range" id="max_words" name="max_words" min="20" max="200" value="142" step="1"> <span id="s2"></span> </p-->
          <div class="form-group">
           <input class="btn btn-primary" type = "submit" value = "TLDR" />
         </div>

        </form>
      </div>

      <div>
        <form action = "http://83.212.102.161:5000/uploader/" method=post enctype=multipart/form-data>
         <div class="form-group">
           <span>
             <input class="form-control-file" type=file name=file>
             <input class="btn btn-primary" type=submit value=Upload>
           </span>
         </div>
        </form>



        <!--div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div-->

      </div>
    {% endblock %}

      <script>
        //var slider1 = document.getElementById("sent_no");
        //var slider2 = document.getElementById("max_words");
        //var output1 = document.getElementById("s1");
        //var output2 = document.getElementById("s2");
        //output1.innerHTML = slider1.value;
        //output2.innerHTML = slider2.value;

        //slider1.oninput = function() {
        //    output1.innerHTML = this.value;
        //}

        //slider2.oninput = function() {
        //  output2.innerHTML = this.value;
        //}
      </script>

   </body>
</html>
