<html>
   <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <style>
    body {
        text-align: center;
    }
    div {
        text-align: center;
    }
    textarea {
      resize: vertical;
    }

   </style>

   <script>
    function validateForm() {
      var x = document.forms["token_form"]["tkn"].value;
      if (x.length <= 0) {
        alert("Please insert token!");
        return false;
      }
    }
   </script>
   </head>
   <body>
     {% extends "base.html" %}

     {% block app_content %}
     <form name = "token_form" action = "http://83.212.102.161:5000/result" onsubmit = "return validateForm()" method = "POST">
       <div class="form-group">
        <input type="text" id="tkn" name="tkn" placeholder="Insert your token number..">
       </div>
       <div class="form-group">
        <input class="btn btn-primary" type = "submit" value = "submit" />
       </div>

     </form>
     {% endblock %}


  </body>
</html>
